@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

body {
    background-color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #052c40 ;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#hero-msg h1, h4 {
    color: white;
}

#hero-img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}

nav a:hover {
    background-color: #d4ac0d;
    color: black;
    text-decoration:underline;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Trade Winds", Arial, sans-serif;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}


.book, .join {
    background-color: #052c40;
    color: white; 
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #0e2fbf;
    color: white; 
    text-decoration: underline;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#background {
    height: 725px;
    background-color: #052c40;
    grid-column: 1/11;
    grid-row: 4/9;
}

.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #000000;
}

.msg {
    background-color: #d4ac0d;
    padding: 35px;
    line-height: 1.5em;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #000000;
}

.msg p {
    padding-bottom: 15px;
}

footer {
    background-color: #052c40;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}


/* Rivers page CSS */

.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

.river-image1 {
    grid-column: 1/3;
}

.text1 {
    grid-column: 3/7;
    padding: 15px;
    background-color: #d4ac0d;
}

.river-image2 {
    grid-column: 5/7;
}

.text2 {
    grid-column: 1/5;
    padding: 15px;
    background-color: #0e2fbf;
    color: white;
}

.river-image3 {
    grid-column: 1/3;
}

.text3 {
    grid-column: 3/7;
    padding: 15px;
    background-color: #d4ac0d;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid, .container {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}