@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Story+Script&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

body{
    background-color: white;
    font-family: "Roboto Flex", Arial, Arial, Helvetica, sans-serif;
    font-size: 22 px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #01446f;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo {
    width: 100px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#hero-msg h1 {
    font-size: 60px;
}

#hero-msg h4 {
    font-size: 44px;
}

#hero-msg h1, h4 {
    color: white;
}

#hero-img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}

nav a:hover {
    background-color: #ffd700;
    color: black;
    text-decoration: underline;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Story Script", Arial, sans-serif;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}

.head-img {
    width: 100%;
}

h2 {
    margin: 0;
}

.book {
    background-color: #052c40;
    color: white; 
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #0e2fbf;
    color: white; 
    text-decoration: underline;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.card-img {
    border: 2px solid black;
    width: 100%;
    box-shadow: 5px 5px 10px #6f7364;
}

.cruise-card, .dining-card, .entertainment-card {
    margin: 200px 0;
}

.cruise-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.dining-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.entertainment-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

footer {
    background-color: #052c40;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.footer_logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}