@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Story+Script&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
    background-color: whitesmoke;
}

body{
    background-color: white;
    font-family: "Roboto Flex", Arial, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #01446f;
    display: grid;
    grid-template-columns: 150px auto;
}

header img {
    margin: auto;
}

.logo {
    width: 100px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px ;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/5;
}

#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
}

#hero-msg-sub {
    grid-column: 2/3;
    grid-row: 4/5;

}

#hero-msg h1 {
    font-size: 60px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#hero-msg-sub h2 {
    font-size: 44px;
    text-align: center;
    font-family: "Story Script", Arial, sans-serif;
    margin-top: 20px;
}

.button-box{
    grid-column: 3/4;
    grid-row: 4/5;
    margin: auto;
    font-size: 24px;
}

#hero-msg h1, h4 {
    color: white;
}

#hero-img {
    width: 100%;
}

.gold-box{
    width: 100%;
    height: 100px;
    background-color: #ffd700;
    grid-column: 1/4;
    grid-row: 4/5;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}

nav a:hover {
    background-color: #ffd700;
    color: black;
    text-decoration: underline;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    font-family: "Story Script", Arial, sans-serif;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;
}


.book {
    background-color: #052c40;
    color: white; 
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #0e2fbf;
    color: white; 
    text-decoration: underline;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.home-grid h2 {
    font-family: "Story Script", Arial, sans-serif;
    text-align: center;
    font-size: 38px;
}

.card-img {
    border: 2px solid black;
    width: 100%;
    margin-top: 50px;
    box-shadow: 5px 5px 10px #6f7364;
}


.cruise-card-img {
    grid-column: 2/4;
    grid-row:2/3;
}

.cruise-card {
    grid-column: 2/4;
    grid-row: 3/4;
    text-align: center;
    font-size: larger;
}

.dining-card-img {
    grid-column: 5/7;
    grid-row: 2/3;
}

.dining-card {
    grid-column: 5/7;
    grid-row: 3/4;
    text-align: center;
    font-size: larger;
}

.entertainment-card-img {
    grid-column: 8/10;
    grid-row: 2/3;
}

.entertainment-card {
    grid-column: 8/10;
    grid-row: 3/4;
    text-align: center;
    font-size: larger;
}


/* Destinations and Activities Page Start */
.page-container{
    position: relative;
    text-align: center;
}

.head-img {
    width: 100%;
}

.page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    font-family: "Story Script", Arial, sans-serif;
    color:white;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}


.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin: 20px;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.port {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;

}

.cruises, .activities{
    text-align: center;
}

.card-text {
    padding: 2px 16px;
}

/* Destinations and Activities Page End */

footer {
    background-color: #052c40;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.footer_logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}